@import "tailwindcss";

@theme inline {
  --color-background: #f9fafb;
  --color-foreground: #1a1a2e;
  --color-mintto: #F97316;
  --color-mintto-dark: #EA580C;
  --color-mintto-soft: #FB923C;
  --font-sans: var(--font-poppins);
}

body {
  background: #f9fafb;
  color: #1a1a2e;
}
